.nopadding{
	padding:0px;
}
.nopadding1{
	padding-top:10px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}
.nopadding2{
	padding-top:10px;
	padding-left:10px;
	padding-right:0px;
	padding-bottom:0px;
}
.nopadding3{
	padding-top:30px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}

/*container*/
#javafe_body{
	background-color: #2B2B2B;
}
#javafe_container{
	height: 100%;
}
/*container end*/

/*javafe_menu..........................................................................................*/
#javafe_menu_row{
	padding: 5px;
	height: 8%;
}
.login_signup_button>.btn{
	border-radius: 0px;
	border: 0px;
	padding: 10px;
}
/*javafe_menu end.......................................................................................*/


/*body-row................................................................................................*/


	#body_row{
		height: 80%;
	}

/*learn*/
#learn_background{
	 height: 100%;

}
#learn_tab{
	background-color: #1C1C1C;
	padding:5px;
	border: 2px solid #3B3738;
	height: 10%;

}
#learn{
	padding: 15px;
	overflow:auto; 
	background-color: white;
	height: 90%;
}

#content{
	font-size: 1em;
}
/*learn end*/


/*  editor */
#editor_background{
	
	background-color: #272822;
	height: 100%;
}
#editor_tab_background{
	background-color: #0f0f0a;
	height: 7%;
}
#editor_tab{
	background-color: #272822;
	width: 15%;
	padding: 4px;
	height: 100%;
	
}
#editor_tab p{
	color:white;
}
#editor_panel{
	height: 87%;
}
#editor{
	height: 100%;
	background-color: #272822;
}
#editor>.ace_gutter {
    background: #272822;
    color: #8F908A;
}
#next_back_button{
	height: 6%;
	
	
}
#nxt{
	
}
#bck{
	
}

/* editor end */

/*console*/
#console{
	background-color: #0A0A0A;
	padding: 10px;
	overflow-y:scroll;
	height: 100%;
	
}
/*console end*/
/*body-end..................................................................................................*/


/*footer....................................................................................................*/
#footer_row{
	height: 12%;	
}
#footer1{
	margin-top: 2%;
	z-index: 1000;
}
#footer2{
	margin-top: 2%;
	
}
#footer3{
	margin-top: 2.5%;
	
}
#footer4{
	margin-top: 2%;
	
}
#exercise_button{
		
}
#exercise{
	
}
.run_reset_button{

}
#run_button{
	
}
#reset_button{
	
}
.progress-bar{
	width: 60%;
	background-color: teal;
}
#message{
	background-color: red;
	width: 40%;
	height: 40%;
	border-radius: 100%;
	cursor: pointer;

}
/*footer end.................................................................................................*/

/*...........  message_modal  .........*/
#message_modal{
	left: auto;
  	right: 25px;
}
#message_modal_header{
	background-color: green;
}
#message_modal_body{
	height: 400px;
}
/*...........  message_modal end .........*/




/*.................... ..scrollbar.......................*/

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
 
::-webkit-scrollbar-track {
    
	background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color: #7f8c8d;
    border-radius: 10px;
  }

  /*.................... ..scrollbar end.......................*/

/*.......................................media queries..................................................*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 750px) {

	#content{
		font-size: 1.1em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 970px) { 

	#run_button{
		
			
	}
	#content{
		font-size: 1.1em;
	}
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1170px) { 
	
	#run_button{
		
		
	}	
	#content{
	font-size: 1.2em;
	}
}
