/*menu*/
#menu{
	height: 90%;
	background:radial-gradient(#00A7A7,#3D3B3B); 
}
#menu_container{
	height: 10%;
}
#menu_container{
	display: none;
}
.ui.borderless.menu{
	background-color: transparent;
}

#mobile_button{
	display: inline-block;
	float:right;
	margin-top: 1%;
	cursor: pointer; 
}
#jumbotron{
	margin-top: 10%;
	padding: 10%;
	
}
#slogan{
	font-family: cursive,sans-serif;
	font-size: 1.5em;
	color:#ECF0F1;
	margin-left: 10%;
}
#get_started{
	margin-left: 7%;
	font-size: 1em;
}
/*font*/
#javafeTag {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 3em;
  text-align: center;
  text-rendering: optimizeLegibility;
  color: white;
  }

  
/*font end*/

/*menu end*/

/*second page*/
#vid{
	height: 10%;
	background-color: red;
}
#heading_second{
	font-family:  "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic";
	font-size: 2em;
}
/*second page end*/









/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width:768px ) { 
	#menu{
	height: 90%;
	background:radial-gradient(#00A7A7,#3D3B3B); 
	}
	#menu_container{
		display: block;
	}
	#mobile_button{
		display: none;
	}
	#javafeTag{
		font-size: 4em;
	}
	#slogan{
		font-size: 2em;
	}
	#get_started{
	font-size: 1.2em;
	}
	#jumbotron{
	padding: 10%;
	}
	#heading_second{
		font-size: 2.5em;
	}
	

}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) { 

	#menu{
	height: 90%;
	background:radial-gradient(#00A7A7,#3D3B3B); 
	}
	#menu_container{
		display: block;
	}
	#mobile_button{
		display: none;
	}
	#javafeTag{
		font-size: 5.5em;
	}
	#slogan{
		font-size: 3em;
	}
	#get_started{
	font-size: 1.5em;
	}
	#jumbotron{
	padding: 10%;
	}
	#heading_second{
		font-size: 3em;
	}
	
	
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1170px) {

	#menu{
	height: 90%;
	background:radial-gradient(#00A7A7,#3D3B3B); 
	}
	#menu_container{
		display: block;
	}
	#mobile_button{
		display: none;
	}
	#javafeTag{
		font-size: 6em;
	}
	#slogan{
		font-size: 3em;
	}
	#get_started{
	font-size: 1.5em;
	}
	#jumbotron{
	padding: 10%;
	}
	#heading_second{
		font-size: 3em;
	}
	
 }	