/*menu*/
#menu{
	height: 100%;
	background:radial-gradient(#00A7A7,#3D3B3B); 
}
#menu_container{
	height: 10%;
}
#menu_container{
	display: none;
}
.ui.borderless.menu{
	background-color: transparent;
}

#mobile_button{
	display: inline-block;
	float:right;
	margin-top: 1%;
	cursor: pointer; 
}
#jumbotron{
	background-color: ;
	padding: 15%;
}

/*menu end*/

/*font*/
#javafeTag {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 6em;
  text-align: center;
  text-rendering: optimizeLegibility;
  color: white;
  }

  
/*font end*/




/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width:768px ) { 
	#menu{
	height: 90%;
	background:radial-gradient(#00A7A7,#3D3B3B); 
	}
	#menu_container{
		display: block;
	}
	#mobile_button{
		display: none;
	}
	

}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) { 

	#menu{
	height: 90%;
	background:radial-gradient(#00A7A7,#3D3B3B); 
	}
	#menu_container{
		display: block;
	}
	#mobile_button{
		display: none;
	}
	
	
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1170px) {

	#menu{
	height: 90%;
	background:radial-gradient(#00A7A7,#3D3B3B); 
	}
	#menu_container{
		display: block;
	}
	#mobile_button{
		display: none;
	}
	
 }	